
{% extends "base.html" %}

{% block title %} Sentiment Model Page {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='Model1_styles.css')}}">
{% endblock%}

{% block header %}
    <div class="main-content">
            <div class="container">
                <h1>Sentiment Model</h1>
                <a href="{{url_for('Logout')}}">Logout</a>
            </div>
        
        <div class="form_container">
            <form action="{{url_for('Model1')}}" method="POST">
                <input type="text" name="review" class="review_input" placeholder="Enter the Review here..." required />
                <button type="submit" class="submit_btn">Predict Sentiment</button>
            </form>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="error-messages">
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="error-message">
                                {{ message }}
                            </div>
                        {% elif category == 'success' %}
                            <div class="success_message">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </div>
        
    </div>

{% endblock %}

{% block body_container %}
{% endblock %}

